<nav>
  <img
    src="../../assets/logo.png"
    alt="logo"
    title="Task Management System"
    width="200px"
    height="50px"
  />
  <div>
    <ul id="navbar">
      <li><a routerLink="home">Home</a></li>
      <li><a routerLink="addtask">Add Task</a></li>
      <li><a routerLink="mytasks">My Tasks</a></li>
      <li *ngIf="!auth"><a routerLink="register">Register</a></li>
      <li *ngIf="!auth"><a routerLink="login">Login</a></li>
      <li *ngIf="auth"><a class="logout" (click)="handleLogout()">Logout</a></li>
    </ul>
  </div>
</nav>
