<section class="homepage">
  <p class="text4">
    Welcome to <span class="tuoj">Prioritize</span>, a MEAN
    stack-based Task Management System!
  </p>
  <p class="text1">
    Made With ❤️ By &nbsp;
    <a
      class="linkedinlink"
      href="https://www.linkedin.com/in/priyanshudevsingh/"
      >Priyanshu Singh</a
    >
  </p>
  <img
    class="catmeme"
    src="../../assets/catmeme.gif"
    alt="cat completing task"
    height="400px"
  />
  <!-- <p class="text3">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium
    possimus non optio repellendus ex fugit officia cupiditate veritatis
    aspernatur itaque minima, numquam culpa ducimus officiis quas tempora amet
    ratione, aliquid ipsam eius expedita. Voluptatibus!
  </p> -->
  <button class="redirectbut" (click)="redirect()">Go to Task List</button>
  <!-- <p class="text2">Lorem ipsum dolor sit amet.</p>
  <p class="text1">Lorem, ipsum.</p> -->
</section>
