@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}

.addtaskpage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 89.5vh;
  width: 100%;
  background-color: #1b2430;
}

.form-box-addtask {
  position: relative;
  width: 700px;
  height: 450px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 200px rgba(242, 108, 34, 1);
}

.text1 {
  text-align: center;
  color: #bababa;
  margin: 0;
  font-weight: bold;
  padding: 0 0 20px 0;
}

.inputbox {
  margin-bottom: 15px;
}

label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
}

input[type="text"],
select {
  width: 100%;
  padding: 10px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  font-size: 14px;
  box-sizing: border-box;
  background: transparent;
  color: #bababa;
}

.date-inputs {
  display: flex;
}

.date-input {
  width: 40px;
  margin-right: 5px;
}

.click {
  text-align: center;
}

input[type="submit"] {
  width: 30%;
  height: 40px;
  border-radius: 40px;
  background: #f26c22;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  color: #f5f2f2;
}

select[name="priority"] option {
  font-weight: bold;
  color: #1b2430;
}
select[name="priority"] option[name="Low"] {
  font-weight: bold;
  color: #3bc240;
}
select[name="priority"] option[name="Medium"] {
  font-weight: bold;
  color: #f1a824;
}
select[name="priority"] option[name="High"] {
  font-weight: bold;
  color: #d23636;
}

select[name="status"] option {
  font-weight: bold;
  color: #1b2430;
}

.dd {
  color: #bababa;
  padding: 0 0 0 10px;
}
