<section class="addtaskpage">
  <div class="form-box-addtask">
    <div class="form-value">
      <form (submit)="editTask()">
        <h2 class="text1">Edit Task</h2>

        <div class="inputbox">
          <label for="title"></label>
          <input
            type="text"
            name="title"
            required
            [(ngModel)]="title"
            placeholder="Title"
          />
        </div>

        <div class="inputbox">
          <label for="description"> </label>
          <input
            type="text"
            name="description"
            required
            [(ngModel)]="description"
            placeholder="Description"
          />
        </div>

        <div class="inputbox">
          <label for="priority"></label>
          <select
            name="priority"
            [(ngModel)]="priority"
            required
            aria-label="Select Priority"
          >
            <option value="">Select Priority Level</option>
            <option name="Low" value="Low">Low</option>
            <option name="Medium" value="Medium">Medium</option>
            <option name="High" value="High">High</option>
          </select>
        </div>

        <div class="inputbox">
          <label for="duedate" class="dd">Due Date</label>
          <div class="date-inputs">
            <input
              type="text"
              name="duedate-day"
              required
              [(ngModel)]="duedateDay"
              placeholder="DD"
              class="date-input"
              maxlength="2"
            />
            <input
              type="text"
              name="duedate-month"
              required
              [(ngModel)]="duedateMonth"
              placeholder="MM"
              class="date-input"
              maxlength="2"
            />
            <input
              type="text"
              name="duedate-year"
              required
              [(ngModel)]="duedateYear"
              placeholder="YYYY"
              class="date-input"
              maxlength="4"
            />
          </div>
        </div>

        <div class="inputbox">
          <label for="status"></label>
          <select
            name="status"
            [(ngModel)]="status"
            required
            aria-label="Select Status"
          >
            <option value="">Select Status</option>
            <option value="To-Do">To-Do</option>
            <option value="In-Progress">In-Progress</option>
            <option value="Completed">Completed</option>
          </select>
        </div>

        <div class="click">
          <input type="submit" value="Update Task" />
        </div>
      </form>
    </div>
  </div>
</section>
