@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}

.loginpage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 89.5vh;
  width: 100%;
  background-color: #1b2430;
}

.form-box-login {
  position: relative;
  width: 450px;
  height: 350px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 200px rgba(242, 108, 34, 1);
}

.textl {
  text-align: center;
  color: #bababa;
  margin: 0;
  font-weight: bold;
}

.inputbox {
  position: relative;
  margin: 25px 0;
  width: 300px;
  border-bottom: 2px solid #fff;
}

.inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1em;
  pointer-events: none;
  transition: 0.5s;
}

input:focus ~ label,
input:valid ~ label {
  top: -5px;
}
.inputbox input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
  color: #fff;
}

.click input {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background: #f26c22;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  color: #f5f2f2;
}

.already {
  margin: 5px;
  display: flex;
  justify-content: right;
  color: #f19a6b;
  text-decoration: underline;
}
