<section class="tasktable">
  <div *ngIf="task">
    <table class="content-table">
      <thead *ngIf="task.length">
        <tr>
          <th>Title</th>
          <th>Due Date</th>
          <th>Priority</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of task">
          <td>
            <a [routerLink]="['/viewtask', i.taskid]">{{ i.title }}</a>
          </td>
          <td>{{ i.duedate }}</td>
          <td [class]="i.priority">{{ i.priority }}</td>
          <td>{{ i.status }}</td>
        </tr>
      </tbody>
    </table>
    <p class="text1" *ngIf="!task.length">No Tasks Found</p>
  </div>
</section>
